@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Epilogue', sans-serif;
}
.header {
  padding: 20px;
}
.nav {
  display: flex;
}
.nav img {
  object-fit: contain;
}
.list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-nav ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  gap: 50px;
}
.list-nav ul li {
  margin-left: 10px;
  color: hsl(0, 0%, 41%);
  font-weight: bold;
  cursor: pointer;
}
.states {
  display: flex;
  gap: 5px;
  align-items: center;
}
.states img {
  width: 10px;
  height: 6px;
}
.buttons button {
  height: 50px;
  width: 120px;
  border-radius: 15px;
  border: 2px solid hsl(0, 0%, 41%);
  font-size: 16px;
  font-weight: bold;
  color: hsl(0, 0%, 41%);
  background-color: transparent;
  cursor: pointer;
}
.buttons button:nth-child(1) {
  border: none;
}
.buttons button:hover {
  text-transform: uppercase;
}
#menu {
  display: none;
}
main {
  padding: 0px 100px;
}
.container-main {
  display: flex;
  margin: 20px;
  gap: 50px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 50%;
}
.description h1 {
  font-size: 70px;
  width: 470px;
  font-weight: bold;
}
.description p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  width: 400px;
  text-align: justify;
  line-height: 1.5;
}
.description button {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.description button:hover {
  background-color: antiquewhite;
  color: #000;
}
.client-icon {
  display: flex;
  gap: 30px;
  margin-top: 100px;
}
.client-icon img {
  object-fit: contain;
}
.image {
  margin-top: 50px;
  text-align: center;
  width: 50%;
}
.image img {
  object-fit: contain;
  width: 90%;
  height: 80%;
}

@media (max-width: 800px) {
  /* .nav {
    display: inline;
  } */
  #list-nav {
    width: 100%;
    display: inline;
  }
  .buttons {
    display: none;
  }
  .nav {
    align-items: center;
  }
  .list-nav ul {
    gap: 10px;
    justify-content: flex-end;
  }
  .container-main {
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    margin: 0;
    align-items: center;
    gap: 5px;
  }
  .image  {
    display: none;
  }
  .mobile{
    background-image: url("../images/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 65%;
    height: 50%;
  }
  .description {
    gap: 20px;
    width: 80%;
    align-items: center;
  }
  .description h1 {
    width: 60vh;
    font-size: 35px;
  }
  .description p {
    font-size: 14px;
    width: 50vh;
  }
  .client-icon {
    justify-content: center;
  }
  
}

@media (max-width: 400px) {
  #menu {
    display: block;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 20px;
    z-index: 9999;
  }
  #menu-closed {
    display: none;
  }
  #menu.salir #menu-open {
    display: none;
  }
  #menu.salir #menu-closed {
    display: block;
  }
  #list-nav {
    display: none;
  }
  .list-nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #fff;
    width: 50%;
    margin-left: 0;
    font-size: 16px;
    height: 100%;
    /* opacity: 0.8; */
    gap: 20px;
  }
  .list-nav ul li, .list-nav .states img {
    font-weight: 500;
    display: block;
    position: relative;
    top: -420px;
  }
  #list-nav.visible {
    display: block;
  }
  main {
    padding: 0 5px;
  }
  .container-main {
    height: 90vh;
  }
  .mobile {
    width: 100%;
  }
  .description h1 {
    font-size: 30px;
    width: 50vh;
  }
  .client-icon {
    margin-top: 50px;
  }
  .client-icon img {
    width: 60px;
    gap: 10px;
  }
}
