@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Epilogue', sans-serif;
}
.header {
  padding: 20px;
}
.nav {
  display: flex;
}
.nav img {
  object-fit: contain;
}
.list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-nav ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  gap: 50px;
}
.list-nav ul li {
  margin-left: 10px;
  color: hsl(0, 0%, 41%);
  font-weight: bold;
  cursor: pointer;
}
.states {
  display: flex;
  gap: 5px;
  align-items: center;
}
.states img {
  width: 10px;
  height: 6px;
}
.buttons button {
  height: 50px;
  width: 120px;
  border-radius: 15px;
  border: 2px solid hsl(0, 0%, 41%);
  font-size: 16px;
  font-weight: bold;
  color: hsl(0, 0%, 41%);
  background-color: transparent;
  cursor: pointer;
}
.buttons button:nth-child(1) {
  border: none;
}
main {
  padding: 0px 100px;
}
.container-main {
  display: flex;
  margin: 20px;
  gap: 230px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
.description h1 {
  font-size: 70px;
  width: 470px;
  font-weight: bold;
}
.description p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  width: 400px;
  text-align: justify;
  line-height: 1.5;
}
.description button {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.image {
  margin-top: 50px;
  text-align: center;
}
.image img {
  object-fit: contain;
  width: 90%;
}
