@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Epilogue', sans-serif;
  background-color: hsl(0, 0%, 98%);
}
.header {
  padding: 20px;
}
.nav {
  display: flex;
}
.nav img {
  object-fit: contain;
}
.list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list-nav ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
  gap: 50px;
}
.list-nav ul li {
  margin-left: 10px;
  color: hsl(0, 0%, 41%);
  font-weight: bold;
  cursor: pointer;
  height: 20px;
  width: 80px;
}
.states {
  display: flex;
  gap: 5px;
  align-items: center;
}
.states img {
  width: 10px;
  height: 6px;
}
#list.cerrar #list {
  display: none;
}
#list.salir #list {
  display: block;
}
.states .open-list.visible {
  display: flex;
  margin: 0;
  margin-top: 20px;
  margin-left: -90px;
  /* padding: 5px; */
  /* gap: 20px; */
  border-radius: 10px;
  height: auto;
  width: 180px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 41%);
  z-index: 999;
}
.states .list__company.visible {
  display: flex;
  flex-direction: column;
  width: 120px;
  padding: 15px;
  height: auto;
  gap: 20px;
  box-shadow: 5px 5px 5px hsl(0deg 0% 41%);
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 0px;
  z-index: 999;
}
.buttons button {
  height: 50px;
  width: 120px;
  border-radius: 15px;
  border: 2px solid hsl(0, 0%, 41%);
  font-size: 16px;
  font-weight: bold;
  color: hsl(0, 0%, 41%);
  background-color: transparent;
  cursor: pointer;
}
.buttons button:nth-child(1) {
  border: none;
}
.buttons button:hover {
  text-transform: uppercase;
}
#menu {
  display: none;
}
.states .open-list, .states .list__compnay {
  /* width: 150px; */
  display: flex;
  background-color: #fff;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 20px;
}
.states .open-list div {
  display: flex;
  text-align: justify;
  margin-left: 10px;
}
.states .open-list img {
  width: 20px;
  height: 20px;
}
.states .list__company {
  display: none;
}
.states .open-list {
  display: none;
}
.arrow .list__arrow {
  transform: rotate(180deg);
}
.list__arrow {
  transition: transform .3s;
}
main {
  padding: 50px;
  margin-top: -80px;
}
.container-main {
  display: flex;
  margin: 20px;
  gap: 50px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 50%;
}
.description h1 {
  font-size: 70px;
  width: 470px;
  font-weight: bold;
  z-index: -1;
}
.description p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  width: 400px;
  text-align: justify;
  line-height: 1.5;
}
.description button {
  width: 180px;
  height: 50px;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.description button:hover {
  background-color: antiquewhite;
  color: #000;
}
.client-icon {
  display: flex;
  gap: 25px;
  margin-top: 100px;
}
.client-icon img {
  object-fit: contain;
}
.image {
  margin-top: 50px;
  text-align: center;
  width: 50%;
}
.image img {
  object-fit: contain;
  width: 90%;
  height: 80%;
}

@media (max-width: 1024px) {
  main {
    margin: 0;
  }
  .list-nav ul {
    gap: 5px;
  }
  .image {
    margin: 0;
  }
}

@media (max-width: 800px) {
  #menu {
    display: block;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 20px;
    z-index: 9999;
  }
  #menu-closed {
    display: none;
  }
  #menu.salir #menu-open {
    display: none;
  }
  #menu.salir #menu-closed {
    display: block;
  }
  #list-nav {
    display: none;
  }
  .list-nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -15px;
    background-color: #fff;
    width: 30%;
    margin-left: 0;
    font-size: 16px;
    height: 100%;
    /* opacity: 0.8; */
    gap: 20px;
    z-index: 1;
  }
  .list-nav ul li, .list-nav .states img {
    font-weight: bold;
    display: block;
    position: relative;
    top: 70px;
    font-size: 16px;
    left: 20px;
    margin-top: 20px;
    width: 60px;
  }
  .list-nav .open-list div img {
    width: 15px;
    top: 0px;
    margin-top: 15px;
  }
  #list-nav.visible {
    display: block;
  }
  .states .open-list.visible {
    margin-left: 0;
    margin-right: -120px;
    gap: 5px;
    box-shadow: none;
    top: 15px;
  }
  .states .list__company.visible {
    margin-left: 40px;
    height: 130px;
    gap: 60px;
    padding: 0;
    margin-right: -40px;
    box-shadow: none;
    top: 15px;
  }
  .states .open-list div {
    margin-left: -40px;
  }
  .states ul li {
    font-size: 12px;
    width: 90px;
    margin-top: -50px;
  }
  .states .list__company li {
    font-size: 16px;
    width: 100px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 500px;
    right: 15px;
    z-index: 999;
  }
  .buttons button {
    width: 200px;
    height: 40px;
  }
  /* #list-nav {
    width: 100%;
    display: inline;
  }

  .nav {
    align-items: center;
  }
  .list-nav ul {
    gap: 10px;
    justify-content: flex-end;
  } */
  .container-main {
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;
    margin: 0;
    align-items: center;
    gap: 5px;
  }
  .image  {
    display: none;
  }
  .mobile{
    background-image: url("../images/image-hero-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 65%;
    height: 50%;
  }
  .description {
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  .description h1 {
    width: 60vh;
    font-size: 35px;
  }
  .description p {
    font-size: 14px;
    width: 45vh;
  }
  .client-icon {
    justify-content: center;
  }
  
}

@media (max-width: 400px) {
  .buttons {
    display: block;
  }
  #menu {
    display: block;
    color: #000;
    background-color: #fff;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    right: 20px;
    z-index: 9999;
  }
  #menu-closed {
    display: none;
  }
  #menu.salir #menu-open {
    display: none;
  }
  #menu.salir #menu-closed {
    display: block;
  }
  #list-nav {
    display: none;
  }
  .list-nav ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 50%;
    margin-left: 0;
    font-size: 16px;
    height: 100%;
    /* opacity: 0.8; */
    gap: 20px;
    z-index: 1;
  }
  .list-nav ul li, .list-nav .states img {
    font-weight: bold;
    display: block;
    position: relative;
    top: 70px;
    font-size: 14px;
    left: 20px;
    margin-top: 20px;
    width: 50px;
  }
  .list-nav .open-list div img {
    width: 10px;
    top: 0px;
  }
  #list-nav.visible {
    display: block;
  }
  .states .open-list.visible {
    margin-left: 0;
    margin-right: -90px;
    gap: 5px;
    width: 171px;
    box-shadow: none;
    padding: 0;
    align-items: center;
    height: 40vh;
  }
  .states .list__company.visible {
    height: 40vh;
    gap: 55px;
    padding: 0;
    margin-right: -90px;
    box-shadow: none;
    width: 170px;
  }
  .states .open-list div {
    margin-left: -40px;
  }
  .states ul li {
    font-size: 12px;
    width: 90px;
    margin-top: -50px;
  }
  .states .list__company li {
    font-size: 12px;
    width: 100px;
  }
  .buttons {
    display: flex;
    right: 8px;
  }
  .buttons button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
  }
  main {
    padding: 0 5px;
  }
  .container-main {
    height: 90vh;
  }
  .mobile {
    width: 100%;
  }
  .description h1 {
    font-size: 30px;
    width: 50vh;
    text-align: center;
  }
  .client-icon {
    margin-top: 50px;
  }
  .client-icon img {
    width: 60px;
    gap: 10px;
  }
}
